/**
 * Normalize.css
 */
@import "_normalize.scss";



/**
 * Variables
 */
$background: #1e1e1e;
$grey-text: #787878;
$green: #00af6f;

$serif: "Meta Serif Pro", "PT Serif", Georgia, serif;
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;



/**
 * Base
 */
body {
  font-family: $serif;
  background-color: $background;
  color: #fff;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}



/**
 * Layout
 */
.container {
  max-width: 760px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
}

h1 {
  font-family: $sans;
  font-size: 66px;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  color: #787878;
  margin-top: 0;
  margin-bottom: 30px;
}

.details {
	margin-top: 20px;
	margin-bottom: 100px;
  font-size: 26px;
  font-weight: 400;
  color: rgba(#fff,0.44);

  :first-letter {
		text-transform: capitalize;
  }

  .details__detail {
  	display: inline-block;

		&:not(:first-of-type):before {
		  content: " / ";
		}
		&.relative {
		  color: rgba(#fff,1);
		}
  }

}

.chart {
  padding: 30px;
  border-radius: 3px;
  background-color: $green;
}

.controls {
	display: inline-block;
	margin-bottom: 60px;
	
	a {
		padding: 10px 20px;
		color: $background;
		text-decoration: none;
		font-weight: normal;
		background-color: #fff;
		border-radius: 3px;
		margin-right: 10px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}



/**
 * Misc
 */
path {
  stroke-linecap: round;
}