doctype html
html
  head
    title Interval

    link(rel='stylesheet', href='components/morris.js/morris.css')
    link(rel='stylesheet', href='css/styles.css')
    script(src='socket.io/socket.io.js')
    script(src='components/jquery/dist/jquery.min.js')
    script(src='components/raphael/raphael-min.js')
    script(src='components/morris.js/morris.min.js')
    script(src='components/moment/min/moment.min.js')

    script var nights = !{JSON.stringify(nights, null, 2)}; var trigger = !{trigger};
    script(src='js/main.js')

  header
    .container
      h1 Interval
      h2 Tracking sleep with Arduino and Johnny Five.
      .controls
        a.control(href='#') Start Tracking

  article
    .container
      - for (var i = 0; i < nights.length; i++) {
        div.chart
          div(id='chart-#{i+1}')
        .details(from=nights[i].start.toISOString(), to=nights[i].end.toISOString())
          div(class='details__detail relative')
          div(class='details__detail times')
          div(class='details__detail duration')
      - }